<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>EcoSaver_Web_Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegisterServlet</display-name>
    <servlet-name>UserRegisterServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.UserRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterServlet</servlet-name>
    <url-pattern>/UserRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet</display-name>
    <servlet-name>UserLoginServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.UserLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet</servlet-name>
    <url-pattern>/UserLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProviderLoginServlet</display-name>
    <servlet-name>ProviderLoginServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.ProviderLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderLoginServlet</servlet-name>
    <url-pattern>/ProviderLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProvidersServlet</display-name>
    <servlet-name>ViewProvidersServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.ViewProvidersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProvidersServlet</servlet-name>
    <url-pattern>/ViewProvidersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProviderRegisterServlet</display-name>
    <servlet-name>ProviderRegisterServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.ProviderRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderRegisterServlet</servlet-name>
    <url-pattern>/ProviderRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProviderRegisterMP</display-name>
    <servlet-name>ProviderRegisterMP</servlet-name>
    <servlet-class>com.ecosaver.servlets.ProviderRegisterMP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProviderRegisterMP</servlet-name>
    <url-pattern>/ProviderRegisterMP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertEnergyUsage</display-name>
    <servlet-name>InsertEnergyUsage</servlet-name>
    <servlet-class>com.ecosaver.servlets.InsertEnergyUsage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertEnergyUsage</servlet-name>
    <url-pattern>/InsertEnergyUsage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTips</display-name>
    <servlet-name>InsertTips</servlet-name>
    <servlet-class>com.ecosaver.servlets.InsertTips</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTips</servlet-name>
    <url-pattern>/InsertTips</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertTipServlet</display-name>
    <servlet-name>InsertTipServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.InsertTipServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTipServlet</servlet-name>
    <url-pattern>/InsertTipServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProviderServlet</display-name>
    <servlet-name>DeleteProviderServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.DeleteProviderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProviderServlet</servlet-name>
    <url-pattern>/DeleteProviderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserChangePasswordServlet</display-name>
    <servlet-name>UserChangePasswordServlet</servlet-name>
    <servlet-class>com.ecosaver.servlets.UserChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserChangePasswordServlet</servlet-name>
    <url-pattern>/UserChangePasswordServlet</url-pattern>
  </servlet-mapping>
</web-app>